<div class="form-container">
    <div class="form">
        <form action="/useradded" method="POST">
            <label for="fname">First Name</label>
            <input type="text" name="name1" id="fname">
            <label for="lname">Last Name</label>
            <input type="text" name="name2" id="lname">
            <input type="submit" value="Submit">
            <div class="update-user"><a href="/updateuser">Go To Update User Page</a></div>
        </form>
    </div>
</div>