<h1>Add User</h1>
<form action="/useradded" method="POST">
    <label for="fname">Enter First Name</label>
    <input type="text" name="name1" id="fname">
    <label for="lname">Enter Last Name</label>
    <input type="text" name="name2" id="lname">
    <input type="submit" value="Submit">
</form>
</body>