<form action="/useradded" method="POST">
    <label for="fname">First Name</label>
    <input type="text" name="name1" id="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="name2" id="lname">
    <input type="submit" value="Submit">
</form>