<h1>Update User</h1>
<form action="/userupdated" method="POST">
    <label for="index">Choose ID</label>
    <input type="number" name="id" id="index">
    <label for="fname">Update First Name</label>
    <input type="text" name="name1" id="fname">
    <input type="submit" value="Submit">
</form>